<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid inset>
    <ion-row>
      <ion-col col-12>
        <ion-list>
          <ion-item>
            <ion-label floating>Scuola</ion-label>
            <ion-select [(ngModel)]='selectedId' (ngModelChange)="onSchoolChange(selectedId)" id="selectSchool">
                <ion-option *ngFor="let item of schools" value="{{item.id}}" >{{item.id}} - {{item.name}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div padding *ngIf="selectedSchool">
    <ion-segment [(ngModel)]="settings">
      <ion-segment-button value="profilo">
        Profilo
      </ion-segment-button>
      <ion-segment-button value="orari">
        Orari
      </ion-segment-button>
      <ion-segment-button value="sezioni">
        Sezioni
      </ion-segment-button>
      <ion-segment-button value="bus">
        Bus
      </ion-segment-button>
      <ion-segment-button value="insegnanti">
        Insegnanti
      </ion-segment-button>
      <ion-segment-button value="assenze">
        Assenze
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="settings">
      <div *ngSwitchCase="'profilo'">
        <!--<ion-searchbar (ionInput)="searchItems($event)"></ion-searchbar>
            <ion-list inset >
        <button ion-item *ngFor="let item of selectedSchool.kids"> {{ item.name }} {{item.surname}}
            <ion-icon name="arrow-forward" item-end></ion-icon>
            </button>
        </ion-list>-->
        <ion-grid inset>
            <ion-row>
              <ion-col col-12>
                <ion-card>
                  <ion-card-header>
                    Nome Scuola
                  </ion-card-header>
                  <ion-card-content>
                    Nome
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-sm-6>
                <ion-card>
                  <ion-card-header>
                    Indirizzo
                  </ion-card-header>
                  <ion-card-content>
                    <p>{{selectedSchool.address}}</p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col col-sm-6>
                <ion-card>
                  <ion-card-header>
                    Contatti
                  </ion-card-header>
                  <ion-card-content>
                    <p>Telefono: <a href="tel: {{selectedSchool.telephone}}">{{selectedSchool.telephone}}</a></p>
                    <p>Email: <a href="{{selectedSchool.email}}">{{selectedSchool.email}}</a></p>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>      
        </ion-grid>
        <!--<ion-fab bottom right>
          <button ion-fab color="primary"><ion-icon name="md-create"></ion-icon></button>
        </ion-fab>-->
      </div>

      <div id="orari" *ngSwitchCase="'orari'">
        <ion-grid inset *ngFor="let item of selectedSchool.servizi; let i=index">
          <ion-row>
            <ion-col col-8>
              <ion-card>
                <ion-card-header>
                  {{item.servizio}}
                </ion-card-header>
                <ion-card-content>
                    <ion-grid inset>
                      <ion-row>
                        <ion-col col-4 *ngFor="let fascia of item.fasce">
                          <ion-card (click)="onSelectFascia(fascia, item)">
                            <ion-card-header>
                              {{fascia.name}}
                            </ion-card-header>
                            <ion-card-content>
                              Da: {{fascia.start}} <br />
                              A: {{fascia.end}}
                            </ion-card-content>
                          </ion-card>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ng-container *ngIf="i===0">
              <ion-col col-4>
                <orario-edit [fascia]="selectedFascia" [servizio]="selectedService"></orario-edit>
              </ion-col>
            </ng-container>
          </ion-row>
        </ion-grid>
      </div>
      
      <!--<ion-fab bottom right>
          <button ion-fab color="primary"><ion-icon name="md-create"></ion-icon></button>
        </ion-fab>-->
      <div *ngSwitchCase="'sezioni'">
        <ion-grid inset>
          <ion-row>
            <ion-col col-4>
              <ion-card>
                <ion-list inset >
                  <button ion-item *ngFor="let item of selectedSchool.sections; let i=index" (click)="onSelectSezione(selectedSchool.sections, i)"> {{ item }}<ion-icon name="arrow-forward" item-end></ion-icon></button>
                </ion-list>
              </ion-card>
            </ion-col>
            <ion-col col-8>
              <sezione-edit [names]="selectedNames" [index]="selectedSectionIndex"></sezione-edit>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
  <!--
      <ion-list *ngSwitchCase="'sezioni'">

          <ion-list-header>
            Sezione 1
          </ion-list-header>
          <ng-container *ngFor="let kid of selectedSchool.kids">
  <button ion-item *ngIf="kid.section == item"> {{ item.name }} {{ item.surname }}
            <ion-icon name="arrow-forward" item-end></ion-icon>
            </button>
          </ng-container>

      </ion-list>-->

      <!--<ion-list *ngSwitchCase="'orari'">
          <ul>
            <li>Da: 6:00</li>
            <li>A: 18:00</li>
          </ul>
          <ion-fab right bottom>
            <button ion-fab color="dark"><ion-icon name="create"></ion-icon></button>
          </ion-fab>
      </ion-list>-->

      <div *ngSwitchCase="'bus'">
        <ion-grid inset>
          <ion-row>
            <ion-col col-4>
              <ion-card>
                <ion-list inset >
                  <button ion-item *ngFor="let item of selectedSchool.buses" (click)="onSelectBus(item)">{{ item.id }} ({{item.capolinea}})<ion-icon name="arrow-forward" item-end></ion-icon></button>
                </ion-list>
              </ion-card>
            </ion-col>
            <ion-col col-8>
              <bus-edit [bus]="selectedBus"></bus-edit>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div *ngSwitchCase="'insegnanti'">
        <ion-grid inset>
          <ion-row>
            <ion-col col-4>
              <ion-card>
                <ion-fab style="position: fixed">
                    <button ion-fab mini (click)="onAddTeacher()"><ion-icon name="add"></ion-icon></button>
                  </ion-fab>
                <ion-card-content>
                  <ion-list inset >
                    <button ion-item *ngFor="let item of selectedSchool.teachers" (click)="onSelectTeacher(item)">
                    {{ item.name }} {{item.surname}}
                    <ion-icon name="arrow-forward" item-end></ion-icon>
                    </button>
                  </ion-list>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col col-8>
                <insegnanti-edit [teacher]="selectedTeacher" [sections]="selectedNames"></insegnanti-edit>
            </ion-col>
          </ion-row>
        </ion-grid>
    </div>

      <div *ngSwitchCase="'assenze'">
        <ion-grid inset>
          <ion-col col-4>
            <ion-card>
              <ion-list inset >
                <button ion-item *ngFor="let item of selectedSchool.assenze">
                {{ item }}
                <ion-icon name="arrow-forward" item-end></ion-icon>
                </button>
              </ion-list>
            </ion-card>
          </ion-col>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
