<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="settings"> 
      <ion-segment-button value="profilo">
        Profilo
      </ion-segment-button>
      <ion-segment-button value="orari">
        Orari
      </ion-segment-button>
      <ion-segment-button value="sezioni">
        Sezioni
      </ion-segment-button>
      <ion-segment-button value="contatti">
        Contatti
      </ion-segment-button>
      <ion-segment-button value="bus">
        Bus
      </ion-segment-button>
      <ion-segment-button value="insegnanti">
        Insegnanti
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="settings">
    <div *ngSwitchCase="'profilo'">
      <ion-searchbar (ionInput)="searchItems($event)"></ion-searchbar>
          <ion-list inset >
      <button ion-item *ngFor="let item of kids"> {{ item.name }} {{ item.surname }}
          <ion-icon name="arrow-forward" item-end></ion-icon>
          </button> 
      </ion-list>
      <!--<ion-grid inset>
        <ion-row>
          <ion-col col-12>
            <ion-card>
              <ion-card-header>
                Nome Scuola
              </ion-card-header>
              <ion-card-content>
                Nome
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-sm-6>
            <ion-card>
              <ion-card-header>
                Contatti
              </ion-card-header>
              <ion-card-content>
                <p>Telefono: <a id="schoolTel" href="tel:">0000000000</a></p>
                <p>Email: <a id="schoolEmail" href="mailto:scuola@scuola.it">scuola@scuola.it</a></p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>-->
    </div>

    <ion-list *ngSwitchCase="'sezioni'">
        <ion-list-header>
          Sezione 1
        </ion-list-header>
        <button ion-item *ngFor="let item of kids"> {{ item.name }} {{ item.surname }} 
          <ion-icon name="arrow-forward" item-end></ion-icon>
          </button> 
    </ion-list>

    <ion-list *ngSwitchCase="'orari'">
        <ul>
          <li>Da: 6:00</li>
          <li>A: 18:00</li>
        </ul>
        <ion-fab right bottom>
          <button ion-fab color="dark"><ion-icon name="create"></ion-icon></button>
        </ion-fab>
    </ion-list>

    <div *ngSwitchCase="'contatti'">
        <ul>
          <li>Telefono: <a href="tel: 0000000000">0000 000000</a></li>
          <li>Email: <a href="mailto:asd@mail.com">asd@mail.com</a></li>
        </ul>
        <ion-fab right bottom>
          <button ion-fab color="dark"><ion-icon name="create"></ion-icon></button>
        </ion-fab>
    </div>

    <ion-list inset *ngSwitchCase="'bus'">
        <button icon-right ion-item *ngFor="let item of buses">
        {{ item }}
        <ion-icon name="arrow-forward" item-end></ion-icon>
        </button>
    </ion-list>

    <ion-list inset *ngSwitchCase="'insegnanti'">
      <button icon-right ion-item *ngFor="let item of teachers">
        {{ item }}
        <ion-icon name="arrow-forward" item-end></ion-icon>
        </button> 
    </ion-list>
  </div>
</ion-content>
