<ion-card *ngIf="fascia">
    <ion-card-header>
        <ion-list>
            <ion-item>
                <ion-label floating>Servizio</ion-label>
                <ion-input [(ngModel)]="servizio.servizio"></ion-input>
            </ion-item>
        </ion-list>
    </ion-card-header>
    <ion-card-content>
        <ion-list>
            <ion-item>
                <ion-label floating>Fascia</ion-label>
                <ion-input [(ngModel)]="fascia.name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Da</ion-label>
                <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="fascia.start"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>A</ion-label>
                <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="fascia.end"></ion-datetime>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>